html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background-image: url("backgroundop4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.arrow1{
    animation: blink 0.7s infinite;
}


@keyframes blink{
    0%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.arrowbody{
    display: grid;
    grid-auto-flow: column;
    padding-top: 250px;
}

button{
    background-color: rgb(42, 125, 125);
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

H1{
    font-family: 'Courier New';
    font-size: 40px;
    text-align: center;
}