body{
    overflow: hidden;
    background-color: aquamarine;
}

.arrow{
    animation: blink 0.7s infinite;
    padding-left: 1125px;
    padding-top: 225px;
    
}

.arrow1{
    animation: blink 0.7s infinite;
    
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}