body{
    overflow: hidden;
}
.arrow{
    animation: blink 0.7s infinite;
    padding-left: 775px;
    padding-top: 650px;
    
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}